<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout{
        width: 500px;
        margin : 0 auto;
        margin-top: 40px;
    }
</style>
<body>
    <div class="layout">
        <table border="1">
            <thead>
                <tr>
                    <th>글 번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${board.content}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button th:if="${board.hasPrevious()}" th:onclick="|location.href='?page=${board.number - 1}&size=${board.size}'|">
                Previous </button>
            <span th:text="${currentPage}">0</span>
            <button th:if="${board.hasNext()}" th:onclick="|location.href='?page=${board.number + 1}&size=${board.size}'|">
                Next </button>
        </div>
    </div>
</body>
</html>